<header class="headline repel"{% if data.variant %} data-headline-variant="{{ data.variant }}"{% endif %}>
  {% if data.heading.isHeader %}
  <h2 class="{{ data.heading.utilities }}">{{ data.heading.text }}</h2>
  {% else %}
  <p class="{{ data.heading.utilities }}">{{ data.heading.text }}</p>
  {% endif %}
  {% if data.labelledIcon %}
  <p class="labelled-icon mt-zero {{ data.labelledIcon.utilities }}">
    {{ data.labelledIcon.text }}
  </p>
  {% endif %}
</header>