<article class="card"{% if data.variant %} data-card-variant="{{ data.variant }}"{% endif %}>
  <div class="card__content flow">
    <h2 class="card__heading">
      <a href="{{ data.href }}">{{ data.heading }}</a>
    </h2>
    <p class="card__meta">{{ data.meta }}</p>
    {% if data.buttonLabel %}
    <a class="button" href="{{ data.href }}">
      <span>{{ data.buttonLabel }}</span>
    </a>
    {% endif %}
  </div>
  {% if data.img %}
  <div class="frame{% if data.img.class %} {{ data.img.class }}{% endif %}">
    <img src="{{ data.img.src }}" alt="{{ data.img.alt }}"/>
  </div>
  {% endif %}
</article>