# Misc
*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache

# Node modules and output
node_modules
dist

src/bloom
src/logical
src/images/theme/*
src/design-tokens/bloom
src/design-tokens/logical
src/css/global-*
src/css/global/logical
src/css/global/bloom
src/_includes/icons/theme/*