<article class="gallery grid"{% if data.attribute %} {{ data.attribute }}{% endif %}>
  <div class="flow">
    <img src="{{ data.images[0].src }}" alt="{{ data.images[0].alt }}" loading="lazy"/>
  </div>
  <div class="flow">
    <img src="{{ data.images[1].src }}" alt="{{ data.images[1].alt }}" loading="lazy"/>
  </div>
  <div class="flow">
    <img src="{{ data.images[2].src }}" alt="{{ data.images[2].alt }}" loading="lazy"/>
  </div>
  <div class="flow">
    <img src="{{ data.images[3].src }}" alt="{{ data.images[3].alt }}" loading="lazy"/>
  </div>
</article>