<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% if env.theme and env.theme != 'default' %}
      <link rel="stylesheet" href="/css/global-{{ env.theme }}.css"/>
    {% else %}
      <link rel="stylesheet" href="/css/global.css"/>
    {% endif %}
    {% if extraCSSFiles %}
      {% for file in extraCSSFiles %}
        <link rel="stylesheet" href="/css/{{ file }}"/>
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/css/global/{{ env.theme }}/pattern-library.css"/>
    <title>{{ title }}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
