<div class="image-group" role="img" aria-label="{{ data.label }}" data-image-group-variant="overlap">
  {% for item in data.items %}
    <img loading="lazy" draggable="false" class="image" src="{{ item.src }}" alt="{{ item.alt }}"  data-image-variant="{{ item.variant }}"/>
  {% endfor %}
</div>