body {
  background: var(--color-dark);
  color: var(--color-primary);
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  line-height: var(--leading-standard);
  --form-background: var(--color-dark-glare);
  --form-color: var(--color-light);
}
