<div class="feed sidebar">
  <div>
    <div class="feed__sidebar">
      <p>Sidebar content here</p>
    </div>
  </div>
  <div class="prose flow">
    <h1>Main content here</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim ullamcorper malesuada. Pellentesque sed sem sed ante lobortis facilisis. In sed volutpat dolor. Suspendisse iaculis velit ac purus imperdiet efficitur. Vivamus consectetur non arcu in commodo. Vivamus felis est, posuere sed risus sit amet, tempor tempus nulla. Aenean lobortis vitae metus nec rhoncus. Sed varius a sapien ac aliquam. Vestibulum molestie, est a vulputate suscipit, dolor tellus lacinia ex, quis pretium lectus arcu at diam. Curabitur non ante quis ligula dapibus lobortis vitae eu tortor. Donec nisl nibh, vehicula id sollicitudin molestie, vulputate in magna. Etiam id euismod turpis, at fermentum quam. Phasellus et nisl eu magna iaculis consectetur. Proin vestibulum felis sed dolor venenatis, nec tristique nunc tincidunt. Aliquam sit amet auctor ipsum.</p>
    <p>Fusce suscipit mi at eros accumsan consequat. Cras lobortis ligula a ipsum tempor, id tempor urna consequat. Sed ac viverra erat. Proin molestie ante massa, in convallis nunc ullamcorper nec. Sed porta ante vel purus dignissim commodo. Donec vitae commodo eros, vel varius nisl. Phasellus posuere ipsum nec arcu semper, vitae viverra lacus ultricies. Etiam condimentum mi felis, sed fermentum arcu euismod quis. Nam hendrerit volutpat mauris, a laoreet eros viverra nec. Aliquam at placerat nisl. Aenean sed ipsum ultrices, aliquet neque vitae, porta tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse ac malesuada eros.</p>
  </div>
</div>