---
title: 'Preview'
pagination:
  data: design.patterns.previews
  size: 1
  addAllPagesToCollections: true
  alias: item
permalink: '{{ item.previewUrl }}/index.html'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% if env.theme and env.theme != 'default' %}
      <link rel="stylesheet" href="/css/global-{{ env.theme }}.css"/>
    {% else %}
      <link rel="stylesheet" href="/css/global.css"/>
    {% endif %}
    <style>
      body {
        padding: 1rem 1rem 5rem;
        min-height: unset;
        margin: 0;
      }

      {{item.data.extraSampleCSS}}
    </style>
    <title>{{ item.data.title }} — Pattern Preview</title>
  </head>
  <body class="preview-{{ item.name }}">
    <div class="preview">
      {{ item.rendered | safe }}
    </div>
  </body>
</html>