.listing-item {
  --sidebar-target-width: clamp(80px, 15vw, 120px);
  --sidebar-content-min-width: 70%;
  --gutter: var(--space-s) var(--space-l);
}

.listing-item h2 {
  margin-block-start: 0;
}

/* Adds plenty of space between items */

.listing-item {
  --flow-space: var(--space-l-xl);
}

.listing-item + .listing-item {
  border-block-start: var(--stroke);
  padding-block-start: var(--flow-space);
}

.listing-item__heading {
  font-size: var(--size-step-3);
}

.listing-item__heading a {
  color: currentColor;
}

.listing-item__header {
  font-size: var(--size-step-0);
}

.listing-item__header p {
  margin-block-start: var(--space-xs);
}

.listing-item__content {
  --flow-space: var(--space-m);
}

.listing-item__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--size-step-0);
  gap: var(--space-xs);
}

.listing-item__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--size-step-0);
  gap: var(--space-xs);
  list-style-type: '';
  padding: 0;
  margin: 0;
}

/* When the sidebar stacks, we don't want the avatar to blow out */

.listing-item .avatar {
  max-width: var(--sidebar-target-width);
}

/* Ensure the focus style fully wraps the svg in the listing item indent */

.listing-item__indent svg {
  display: block;
}
