/*
 * Decorated Image
 *
 * Displaying decorated images with optional variant styling
 */
.image {
  --image-size: 100%;

  display: block;
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: var(--image-radius);
  border: var(--image-border);
}

.image[data-image-variant="pinched"] {
  --image-radius: 0 1.85rem 0 1.85rem;

  width: 100%;
  border: none;
}

@supports (aspect-ratio: 1/1) {
  .image {
    aspect-ratio: 1/1;
    height: unset;
  }
}

/*
 * Multiple image group
 */
.image-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, max-content));
}

/* Scale the images up slightly, to create the illusion of overlap */

.image-group[data-image-group-variant="overlap"] .image {
  transform: scale(110%);
  transform-origin: left;
}

/* Increase the illusion by pulling each sibling image slightly left */

.image-group[data-image-group-variant="overlap"] img + img {
  margin-inline-start: -7%;
}