/*
Button
*/

button,
.button {
  --button-bg: var(--color-primary);
  --button-text: var(--color-dark);
  --button-x-padding: 0.725rem; /* horizontal padding */
  --button-y-padding: 0.525rem; /* vertical padding */
  --button-gutter: 0.5ch;
  --focus-color: var(--color-primary);
  --button-radius: none;
  --button-border: none;

  display: inline-flex;
  gap: var(--button-gutter);
  min-width: var(--button-min-width, 8rem); /* Ensures small labels still have a substantial click target */
  align-items: center;
  justify-content: center;
  line-height: var(--button-line-height, 1.5);
  border: var(--button-border, none);
  cursor: pointer;
  user-select: none;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  letter-spacing: var(--uppercase-kerning);
  text-decoration: none;
  font-size: var(--button-font-size, 1rem);
  font-weight: var(--button-font-weight, 500);
  border-radius: var(--button-radius, none);
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  --button-bg: var(--color-primary);
}

.button[data-button-variant='transition'] {
  --button-transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
  transition: var(--button-transition);
}

/* Active State (While clicked) */
button:active,
.button:active {
  --button-transform: scale(0.98); /* Subtle "press" effect */
  transform: var(--button-transform, none); 
}

/* Disabled State */
button:disabled,
button:disabled:hover,
button:disabled:focus {
  --button-bg: var(--color-extra-light, none);
  --button-text: var(--color-mid, none);
  --button-border: var(--color-extra-light, none);

  cursor: not-allowed;
  transform: none;
}
