/*
Gallery
*/
.gallery {
  --grid-placement: auto-fit;
  --flow-space: var(--space-m);
  --image-aspect-ratio: 1;
  --image-radius: var(--radius-m);
}

.gallery p {
  margin: 0;
}

.gallery img {
  display: block;
  width: 100%;
  aspect-ratio: var(--image-aspect-ratio);
  object-fit: cover;
  border-radius: var(--image-radius);
}

/* Editorial theme */
.gallery[data-theme-editorial] > :nth-child(1) {
  grid-column: span 2;
}

.gallery[data-theme-editorial] > :nth-child(2) {
  align-self: end;
}

.gallery[data-theme-editorial] > :nth-child(3) {
  grid-column: span 2;
  align-self: start;
}

.gallery[data-theme-editorial] > :nth-child(4) {
  align-self: center;
}