/*
Headline
*/
  .headline {
    --repel-vertical-alignment: baseline;
    --gutter: var(--space-s);

    padding-block-end: var(--headline-padding-end);
    border-block-end: var(--headline-border);
  }

  .headline :is(h2, h3, h4) {
    font-size: var(--headline-font-size);
    line-height: var(--headline-line-height);
    font-weight: var(--headline-font-weight);
  }
