/*
Hero
*/
.hero {
  --hero-min-height: 30vh;
  --hero-border-radius: var(--radius-m);
  --hero-grid-area: 1 / 1;
  --hero-content-align: center;
  --hero-display: block;
  --hero-overlay-opacity: 0.7;

  display: grid;
  min-height: var(--hero-min-height);
  position: relative;
  isolation: isolate;
  border-radius: var(--hero-border-radius);
  overflow: hidden;
}

.hero__image,
.hero__content {
  grid-area: var(--hero-grid-area);
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__content {
  z-index: 1;

  display: grid;
  align-content: var(--hero-content-align);
  padding-block: var(--space-xl);
}

/* Reset hero content heading width */
.hero__content :is(h1, h2, h3, h4) {
  max-width: none;
}

/* Hero overlay */
.hero::before {
  --hero-overlay-gradient: linear-gradient(90deg,
    rgb(0 0 0 / var(--hero-overlay-opacity)),
    rgb(0 0 0 / calc(var(--hero-overlay-opacity) / 2)) 70%,
    rgb(0 0 0 / 0)
  );
  content: '';
  display: var(--hero-display);
  position: absolute;
  inset: 0;
  background: var(--hero-overlay-gradient);
}
