/*
Inspo
*/
.inspo {
  --inspo-font-size: 2rem;
  --inspo-font-weight: 500;
  --inspo-line-height: 1.2;
}

/* heading */
.inspo__heading {
  font-weight: var(--inspo-font-weight);
  line-height: var(--inspo-line-height);
  text-wrap: balance;
  z-index: 1;
}

.inspo__grid {
  display: grid;
  font-size: var(--inspo-font-size);
  grid-template-rows: minmax(1cap, auto) max-content minmax(1cap, auto);
  grid-template-columns: 1fr;
}

.inspo__img {
  aspect-ratio: 1240/620;
  grid-row: 2;
  grid-column: 1;
  border-radius: var(--inspo-image-border-radius);
  overflow: hidden;
}

.inspo__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspo__heading:first-of-type {
  grid-row: 1;
  transform: var(--inspo-heading-transform-first);
}

.inspo__heading:last-of-type {
  grid-row: 3;
  transform: var(--inspo-heading-transform-last);
}

.inspo[data-inspo-image] {
  --inspo-heading-transform-first: translateY(0.3cap);
  --inspo-heading-transform-last: translateY(-0.5cap);
}

