/*
Rolodex
*/
.rolodex__item {
  padding: var(--rolodex-padding);
  background: var(--rolodex-bg);
  color: var(--rolodex-text);
  text-decoration: none;
  position: relative;
  overflow: hidden; /* Ensure the corner triangle does not overflow the rolodex item */
}

.rolodex__item[data-corner-plain-docked]::before {
  --corner-primary-color: var(--rolodex-clip);
  --corner-size: clamp(2rem, 10vi, 7.5rem);

  pointer-events: none;
}

/* image */
.rolodex img {
  aspect-ratio: 787/524;
  object-fit: cover;
  border-radius: var(--radius-m);
}

/* Apply a sticky position treatment only for viewports that are large and up */
@media (--lg) {
  .rolodex[rolodex-sticky] .rolodex__list li {
    position: sticky;
    top: var(--gutter);
  }
}

.rolodex[rolodex-hidden-animation] {
  --rolodex-line-height: 1.44em;

  height: var(--rolodex-line-height);
  overflow: hidden;
}

.rolodex[rolodex-hidden-animation] > p,
.rolodex[rolodex-hidden-animation] > ul,
.rolodex[rolodex-hidden-animation] > li {
  float: left;
  line-height: var(--rolodex-line-height);
}

.rolodex-hidden-animation {
  animation: roll-up-animation 16s infinite cubic-bezier(.75,0,.25,1);
}

/* roll-up animation - cycle through 3 hidden rolodex items */
@keyframes roll-up-animation {
  0%, 20%, 100% { transform: translateY(0) }
  40% { transform: translateY(calc(-1 * var(--rolodex-line-height))) }
  60%, 80% { transform: translateY(calc(-2 * var(--rolodex-line-height))) }
}