/*
Site head
*/
.site-head {
  --site-head-max-width: 30rem;
  --site-head-font-size: var(--text-step-1);
}

/* Site head with supporting brand text */
.site-head__brand {
  gap: var(--gutter);
  max-width: var(--site-head-max-width);
}

.site-head__brand .brand__supporting-text {
  padding-left: var(--gutter);
  font-size: var(--site-head-font-size);
}