---
title: 'index'
---

{% extends "layouts/base.njk" %}

{% set extraCSSFiles = ['global.css'] %}

{% block content %}
  <article class="wrapper flow">
    <h1>Test</h1>
    <div class="switcher">
      <h2 class="text-primary">A heading and paragraph in two columns</h2>
      <p>
        Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum
        faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl
        consectetur et.
        <a href="logical">test</a>
      </p>
    </div>
  </article>
{% endblock %}